// Custom the base font family
$body-font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$secondary-font-family: georgia, serif;


// Colors

// Often used as background.
$color-ui-base: #fafafa;
// Often used as :hover background for buttons etc.
$color-ui-active: #eee;

$color-ui-primary: #4a4a4a;

$color-ui-secondary: #6f6f6f;
