// Documents layout
//
// The layout consists of 2 views which can
// change size and push eachother

$document__list-width: 250px !default;
$document__list-background: #fafafa !default;

$document__overview-background: #f9f9f9;

.documents {
	display: flex;
	flex-direction: row;
	width: 100%;

	.documents__list {
		width: $document__list-width;
		max-width: $document__list-width;
		background-color: $document__list-background;
		overflow-y: auto;
	}

	.documents__toolbar {
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	.documents__document {
		position: relative;
		flex: 1;
		overflow: auto;
	}

	.documents__overview {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		flex: 1;
		overflow: auto;
		background-color: $document__overview-background;
		padding-top: 150px;
	}
}
