<div n-messages-wrapper></div>

<h4>Document</h4>
<div
	medium-editor
	placeholder="content"
    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
	ng-model="documents.currentDocument.content"></div>
<button class="tiny" ng-click="documents.updateDocument(documents.currentDocument);">Save</button>


<h4>Index</h4>
<button class="tiny" ng-click="documents.createDocument();">Create new</button>
<ul>
  <li ng-repeat="document in documents.documents | orderBy: '-touched' track by document.id">
    <h4>{{document.title}}</h4>
    <p>{{document.content}}</p>
    <small>{{document.created}}</small>
    <small>{{document.touched}}</small><br>
    <button class="tiny" ng-click="documents.selectDocument(document);">Edit</button>
    <button class="tiny" ng-click="documents.destroyDocument(document);">Delete</button>
  </li>
</ul>
<hr/>
<h4>Debug:</h4>
<pre><code>{{documents.currentDocument}}</code></pre>