.single {

}

// @todo - make the footer absolute without sticking it's position
// in the parent which is scrollable.
.single__footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: $document-footer-padding;

	// Don't pick up the events, the user must scroll through it.
	pointer-events: none;
}

.single__footer__save-state {
	font-family: $secondary-font-family;
}
