<div class="single__header">
	<span class="type-muted right" ng-click="documents.createDocument();">Create new</span>
    <a class="type-muted right" ui-sref="application.document.overview">Overview</a>
</div>

<article class="single__body document" ng-click="documents.editor.focus()">

  <div
    t-medium-editor="documents.editor"
    options="{{documents.editorConfig}}"
    ng-model="documents.currentDocument.content"
    ng-model-options="{ debounce: 1000 }"
    class="document__body record"></div>

</article>

<div class="single__footer">
	<i
		ng-if="documents.isSaving"
		class="document__footer__save-state right type-muted type-small">
		Saving...
	</i>
	<span
		ng-if="!documents.isSaving"
		class="document__footer__save-state right type-muted type-small">
		Saved
	</span>

</div>
