$book-padding-small: 15px 20px !default;
$book-height-small: 260px !default;
$book-width-small: 300px !default;

$book-padding-large: 20px 30px !default;
$book-height-large: 440px !default;
$book-width-large: 330px !default;


$book-bg-color: #fff !default;
$book-font-family: georgia, serif !default;

$book-title-color: #9b9b9b !default;
$book-hover-title-color: #4A4A4A !default;


// Book is a container which can contain book covers and actions
.book {
	position: relative;
}

// Book actions are positioned on top of any content
.book__actions {
	position: absolute;
	z-index: 99; // always on top
	top: 0;
	width: 100%;
	padding: 10px;
}


// Book cover resembles the visual element of an actual book
.book-cover {
	position: relative;
	height: $book-height-small;
	width: $book-width-small;
	padding: $book-padding-small;
	background-color: $book-bg-color;
	margin-bottom: 10px;

	&.book-cover--large {
		padding: $book-padding-large;
		width: $book-width-large;
		height: $book-height-large;
	}

	&:hover {
		cursor: pointer;
	}
}


.book-cover__title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: $book-height-small - $book-padding-small;
	overflow: auto;
	padding: $book-padding-small;
	margin: 0;
	font-family: $book-font-family;
	color: $book-title-color;
	white-space: normal;
	word-wrap: break-word;
	transition: color .1s linear;


	.book-cover:hover & {
		color: $book-hover-title-color;
	}

	.book-cover--large & {
		padding: $book-padding-large;
		max-height: $book-height-large - $book-padding-large;
	}
}


// If the title is :empty, show a placeholder title
.book-cover__title:empty:before {
	content: "Untitled";
}
