// Single document
//
// This is both the editor and the document viewer at once.

// Layout
$document-footer-padding: 15px !default;


// Typography
$document-base-font-size: 16px !default;
$document-heading1-size: 2.250em !default;
$document-heading2-size: 1.750em !default;
$document-p-size: 		 1.250em !default;
$document-color-primary: #333 !default;
$document-color-secondary: #858585 !default;
$document-blockquote-color: #858585 !default;
$document-blockquote-font-size: 1.625em !default;

$document-font-family: georgia, sans-serif !default;

$document-section-background: #4a4a4a !default;
$document-section-color: #fff !default;


.document {
	position: relative;
	width: 100%;
	display: flex;

	&:hover {
		cursor: text;
	}
}

// Section background
.document__body *::selection {
	background: $document-section-background;
	color: $document-section-color;
}


// The actual editor/viewer. is always have at least
// the height of the window.
.document__body {
	width: 100%;
	min-height: 100vh;
	padding: 200px 30px 100px;

	// DHNI
	margin: 0 auto;
	max-width: 700px;

	&:focus {
		outline: none;
	}


	// Center all child elements on editor
	// & > * {
	// 	max-width: 700px;
	// 	margin: 0 auto;
	// }
}


// Base
.document__body {
	font-family: $document-font-family;
	font-size: $document-base-font-size;
	color: $document-color-primary;
}

// p
.document__body p {
	font-size: $document-p-size;
	line-height: 1.675em;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 25px;
}

// Headings
.document__body h3 {
	position: relative;
	font-size: $document-heading1-size;
	font-family: $document-font-family;
	font-weight: 600;
	margin-bottom: 50px;
}

.document__body h4 {
	font-family: $document-font-family;
	font-size: $document-heading2-size;
}

// Blockquote
.document__body blockquote {
	font-size: $document-blockquote-font-size;
	color: $document-blockquote-color;
	margin-top: 50px;
	margin-bottom: 50px;
}
