.documents__overview-wrapper {

}
.documents__overview {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;

	// Skal helt sikkert CSS'es bedre...
	> [ui-sref] {
		position: absolute;
		top: 0;
		right: 0;
	}
}
