.documents__overview-wrapper {
	&.ng-enter,
	&.ng-leave {
		transition: all 1s;
	}
	&.ng-enter {
		opacity: 0;
	}
	&.ng-enter-active {
		opacity: 1;
	}
	&.ng-leave {
		opacity: 1;
	}
	&.ng-leave-active {
		opacity: 0;
	}
}
.book__list li {

}

.documents__overview {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;

	// Skal helt sikkert CSS'es bedre...
	> [ui-sref] {
		position: absolute;
		top: 0;
		right: 0;
	}
}