<div class="documents__overview">
	<div ng-if="documents.documents.length < 1">
		<button animate-to-book
				end-fn="documents.createDocument();">
			Create new
		</button>
	</div>

	<div class="row whitespace--large">
		<div class="books" style="width: 100%;">
		<ul book-list-width class="book-list" style="display: inline-table; width: 100%;">
			<li ng-repeat="document in documents.documents | orderBy: '-created' track by document.id"
				class="book-list__book book book--large">
				<div class="book__actions">

					<div t-dropdown
	                     t-dropdown-content-navigatable="true"
	                     t-dropdown-append-to-body="true"
	                     t-dropdown-template-url="dropdown.html"
	                     class="t-dropdown right"
	                     t-dropdown-content-position="right-top|inside-inside">

						<button t-dropdown-toggle class="t-dropdown__toggle button button--clear">
							<div class="icon-more" t-grunticon data-grunticon-embed></div>
						</button>

					</div> <!-- /t-dropdown -->

				</div>

				<div animate-to-book
					 animate-to-down
					 end-fn="documents.selectDocument(document);"
					 angular-ripple
					 class="book-cover">
					<h4 class="book-cover__title">{{document.title}}</h4>
				</div>

				<div class="type-small type-muted">Last edited: {{document.touched | date: 'd MMMM, y'}}</div>
			</li>
		</ul>
		</div>

	</div>
</div>

<!--TODO: Move this to a file?! I dont really know if it makes sense tbh... -->
<script type="text/ng-template" id="dropdown.html">
	<div t-dropdown-content ng-animate-children class="t-dropdown__content t-dropdown-animation--fade t-dropdown--default">
		<ul role="menu" class="t-dropdown__menu">
			<li class="clearfix">
				<button t-dropdown-toggle class="t-dropdown__toggle button button--clear right">
					<div class="icon-more" t-grunticon data-grunticon-embed></div>
				</button>
			</li>
			<li class="t-dropdown__menu-item t-dropdown__menu-item--active"><a href="#" ng-click="documents.selectDocument(document);">Edit</a></li>
			<li class="t-dropdown__menu-item"><a href="#" ng-click="documents.destroyDocument(document);">Delete</a></li>
		</ul>
	</div>
</script>
<!--Gemmer vi til senere, nu er det fuld focus på animizzle -->
<!--<li><a ng-click="documents.destroyDocument(document);">Delete</a></li>-->
