<ul class="unstyled-list">
    <li ng-repeat="document in documents.documents | orderBy: '-touched' track by document.id" class="whitespace">

    	<div class="book" ng-click="documents.selectDocument(document);">
    		<div class="book__actions">
    			<button class="tiny" ng-click="documents.destroyDocument(document);">Delete</button>
    		</div>
    		<h4 class="book__title">{{document.title}}</h4>
    	</div>
    	<div class="type-small type-muted">Last edited: {{document.touched}}</div>

    </li>
</ul>
