// Type
//
// All the smaller typography elements, are located in this document.

$text-muted-color: #ccc !default;
$text-small-font-size: 12px !default;
$text-medium-font-size: 14px !default;

.type-muted {
	color: $text-muted-color;
}


.type-small {
	font-size: $text-small-font-size;
}

.type-medium {
	font-size: $text-medium-font-size;
}
