// Skov Dennis' debug geiles:
.t-dropdown__toggle {
	position: relative;
	z-index: 2;
}


// General setup

.t-dropdown__content {
	display: none;
	z-index: 99;
}

.t-dropdown__content.ng-animate {
	transition: all .2s;
	display: block;
}

.t-dropdown__content--open {
	display: block;
}
.t-dropdown__menu--open {
	// Og når den er åben
	display: block;
}


$dropdown-animation-enter: '.t-dropdown__content.ng-enter, .t-dropdown__content--open-add';
$dropdown-animation-enter-active: '.t-dropdown__content.ng-enter-active, .t-dropdown__content--open-add-active';
$dropdown-animation-leave: '.t-dropdown__content.ng-leave, .t-dropdown__content--open-remove';
$dropdown-animation-leave-active: '.t-dropdown__content.ng-leave-active, .t-dropdown__content--open-remove-active';

#{$dropdown-animation-enter} {
	opacity: 0;
}
#{$dropdown-animation-enter-active} {
	opacity: 1;
}
#{$dropdown-animation-leave} {
	opacity: 1;
}
#{$dropdown-animation-leave-active} {
	opacity: 0;
}
