// Skov Dennis' debug geiles:
.t-dropdown__toggle {
	position: relative;
	z-index: 2;
}


.t-dropdown__content.ng-animate {
	transition: all 5s;
}
.t-dropdown__content.ng-enter {
	opacity: 0;
}
.t-dropdown__content.ng-enter-active {
	opacity: 1;
}
.t-dropdown__content.ng-leave {
	opacity: 1;
}
.t-dropdown__content.ng-leave-active {
	opacity: 0;
}
