.icon-a { background-image: url('png/a.png'); background-repeat: no-repeat; }

.icon-arrow-back { background-image: url('png/arrow-back.png'); background-repeat: no-repeat; }

.icon-bulb { background-image: url('png/bulb.png'); background-repeat: no-repeat; }

.icon-letter { background-image: url('png/letter.png'); background-repeat: no-repeat; }

.icon-more { background-image: url('png/more.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

